.home-down-arrow {
  font-size: 3rem;
  color: white;
  animation: jump 1s infinite alternate;
  cursor: pointer;
}

@keyframes jump {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
